sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.4.2
tasks==2.8.0
trio==0.19.0
trio-websocket==0.9.2
uritemplate==4.1.1
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.3.0
wsproto==1.0.0
