<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Login form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=3">
    <link rel="stylesheet" href="{% static 'VirtualCA_app/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'VirtualCA_app/css/bootstrap.css'%}">

    <style>
body{
           background: gray;
          }
    </style>

</head>
<script>
    function validate() {
        var name = document.getElementby
    }
</script>

<body>
<h1 class="text-center text-primary">Login here</h1>

    <form method="POST">
        {%csrf_token%}


        <div class="container">



            <div class="form-group ">
                <label for="User-Name">User ID</label>
                <input class="form-control" type="text" placeholder="User ID" name="email">
            </div>
            <div class="form-group">
                <label for="User-Name">Password</label>
                <input class="form-control" type="text" placeholder="Password" name="password">
            </div>

            <center>
                <button class="btn btn-outline-success mt-4" onsubmit="validate()">Login</button>
                <br>
                <h5>If You Don'te Have Account</h5> <a href="{% url 'signup' %}">Register Here</a>

            </center>
        </div>
    </form>
        <script src="{% static 'VirtualCA_app/js/jquery.js'%}"></script>
        <script src="{% static 'VirtualCA_app/js/bootstrap.js'%}"></script>
        <script src="{% static 'VirtualCA_app/js/all.min.js'%}"></script>
        <script src="{% static 'VirtualCA_app/js/popper.js'%}"></script>
</body>

</html>